/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer{
  margin-top: 4em;
}

textarea{
  height: 15em;;
}

.navigation-top .user{
  display: flex;
}

.navigation-top .user img{
  margin-right: 1em;
}

.navigation-top .user .username{
  color: red;
}